/*Importing Google font - open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #e3f2fd;
}
h1 {
    color: #fff;
    padding: 18px 0;
    text-align: center;
    font-size: 1.75rem;
    background-color: steelblue;
}
.container {
    display: flex;
    gap: 35px;
    padding: 30px;
}
.weather-input {
    width: 550%;
}
.weather-input input {
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 10px;
    border: 1px solid slategray;
}
.weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #bbb;
}
.weather-input .separator::before {
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 15px;
    background: #e3f2fd;
}
.weather-input button {
    padding: 10px 0;
    /* margin: 0; */
    width: 100px;
    /* height: 60px; */
    text-align: center;
    /* top: 240px;
    left: 260px; */
    /* position: left; */
    outline: none;
    border: none;
    border-radius: 30px;
    transition-duration: 3s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    background-color: rgb(155, 100, 155);
    /* font-weight: bold;
    font-family: 'Courier New', Courier, monospace; */
    font-size: larger;
    /* font-weight: lighter; */
}
.weather-input button:hover{
    cursor:pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    transform: scale(1.2);
    color: aliceblue;
  }
.weather-input .location-btn {
    background: slategrey;
}
.weather-output {
    width: 100%;
}