/*Importing Google font - open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #e3f2fd;
}
h1 {
    color: #fff;
    padding: 18px 0;
    text-align: center;
    font-size: 1.75rem;
    background-color: steelblue;
}
.container {
    display: flex;
    gap: 35px;
    padding: 30px;
}
.search-history-container {
    padding: 10px;
}
/*weather-input includes the <div> and buttons that are the
child to the parent*/
.weather-input {
    width: 550%;
}
.weather-input input {
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 10px;
    border: 1px solid slategray;
}
/* this is the separator between the buttons that allows users to pick one button*/
.weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-input .separator::before {
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #e3f2fd;
}
/*this code utilizes the signature button I developed and 
have implemented in all my projects*/
.weather-input button {
    padding: 10px 0;
    /* margin: 0; */
    width: 100px;
    /* height: 60px; */
    text-align: center;
    /* top: 240px;
    left: 260px; */
    /* position: left; */
    outline: none;
    border: none;
    border-radius: 30px;
    transition-duration: 3s;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, .5); */
    background-color: rgb(155, 100, 155);
    /* font-weight: bold;
    font-family: 'Courier New', Courier, monospace; */
    font-size: larger;
    /* font-weight: lighter; */
}
.weather-input button:hover{
    cursor:pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    transform: scale(1.2);
    color: aliceblue;
  }
.weather-input .location-btn {
    background: lightslategrey;
}
/*this starts to add styling to the data card that will 
display the fetched information.*/
.weather-output {
    width: 100%;
}
.current-weather {
    color: #fff;
    display: flex;
    border-radius: 20px;
    padding: 20px 70px 20px 20px;
    background: steelblue;
    justify-content: space-between;
}
.current-weather h2 {
    font-size: 1.7rem;
}
.weather-output h4 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}
.current-weather .icon{
    text-align: center;
}
.current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}
.current-weather .icon h4 {
    margin-top:  -10px;
    text-transform: capitalize;
}
.days-forecast h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}
.weather-cards {
    display: flex;
    gap: 20px
}
.weather-cards .card {
    list-style: none;
    color: #fff;
    padding: 18px 16px;
    border-radius: 20px;
    background: lightslategrey;
    width: calc(100%/5);
}
.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -10px 0;
}
/*these are the media queries that will resize 
the application to fit multiple windows.*/
@media(max-width: 1400px) {
    .weather-output .current-weather {
        padding:20px;
    }
    .weather-cards {
        flex-wrap: wrap;
    }
    .weather-cards .card {
        width: calc(100% / 4 - 15px);
    }
}
@media(max-width: 1200px) {
    .weather-cards .card {
        width: calc(100% / 3 - 15px);
    }
}
@media(max-width: 1400px) {
    .weather-input {
        width: 450px;
    }
    .weather-cards .card {
        width: calc(100% / 2 - 10px);
    }
}
@media(max-width: 750px) {
    .container {
        flex-wrap: wrap;
        padding: 15px;
    }
    .weather-input {
        width: 100%;
    }
}